<app-navbar></app-navbar>
<div class="main">
<section class="form-section">
    <h3>Parent Sign Up</h3>
    <form action="dashboard" method="post" >
        <label>Username</label><input type="text" required>
        <label>Son/Daughter Name</label><input type="text" required>
        <label>Email</label><input type="email" required>
        <label>Contact Number</label><input type="tel" required>
        <label>Password</label><input type="password" required>
        <p>Already registered? <a href="login" routerLink="/login">Login</a></p>
        <button type="submit" href="dashboard" routerLink="/dashboard">Sign Up</button>
    </form>
</section>
</div>