<app-navbar></app-navbar>
<div class="subscription-container">
    <h1>Do you want to subscribe?</h1>
    <div class="subscription-grid">
      <div class="subscription-box">
        <h2>Basic Subscription</h2>
        <p>Cost: $500</p>
        <p>Access any courses for one month.</p>
        <a href="subscription" routerLink="/subscription" class="subscribe-btn">Subscribe Now</a>
      </div>
      <div class="subscription-box">
        <h2>Gold Subscription</h2>
        <p>Cost: $750</p>
        <p>Access any courses for three months for free.</p>
        <a href="subscription" routerLink="/subscription" class="subscribe-btn">Subscribe Now</a>
      </div>
      <div class="subscription-box">
        <h2>Diamond Subscription</h2>
        <p>Cost: $900</p>
        <p>Access any courses for five months for free.</p>
        <a href="subscription" routerLink="/subscription" class="subscribe-btn">Subscribe Now</a>
      </div>
    </div>
    <p class="no-subscription-text">
      Don't want a subscription? 
      <a href="payment" routerLink="/payment">Click here</a>
    </p>
  </div>